/* =========================================
   PROGRESS BARS
   ========================================= */
.progress {
    width: 100%;
    background-color: #e2e8f0;
    border-radius: 50px;
    overflow: hidden;
    height: 8px; /* Default height */
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    background: var(--primary); /* Default warna biru */
    transition: width 0.6s ease;
    border-radius: 50px;
}

/* Ukuran */
.progress-sm { height: 4px; }
.progress-lg { height: 15px; }

/* Warna Variasi */
.progress-bar.bg-success { background: var(--success); }
.progress-bar.bg-warning { background: var(--warning); }
.progress-bar.bg-danger { background: var(--danger); }